<!-- <app-item [formGroup]='formGroup'></app-item> -->

<form mat-dialog-content [formGroup]="formGroup">

  <mat-form-field>
    <input type='hidden' formControlName ="id">
    <mat-label>Importance</mat-label>
    <input matInput formControlName="orderId">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput formControlName="description">
  </mat-form-field></form>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>

