<form mat-dialog-content [formGroup]="formGroup">
  
    <input type='hidden' formControlName ="id">
  
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput formControlName="description">
  </mat-form-field></form>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>